* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box; 
}

div {
    padding: 80px;
    padding-top: 31px;
    padding-bottom: 565px;
    padding-left: 92px;
    margin: 0px;
    background-color: lightblue;
    width: 30%;
    float: left;
    border-color: aqua;
}

img {
    border: inset 4px gray;
}

.info {
    padding: 20px;
    margin: 0px;
    background-color: white;
    background-image: radial-gradient(rgb(167, 236, 236), white);
    width: 70%;
    float: left;
    height: 0%;
}

ul{
    font-weight: 100px;
}
h4 {
    padding-bottom: 0px;
    padding-top: 10px;
    margin: 5px;
    color: royalblue;
}

p {
    padding: 10px;
    margin: 5px;
}

li {
    padding: 2px;
    margin: 0px;
}

#idioma {
    padding-bottom: 0px;
}

button {
    width: 113px;
    height: 57px;
    border-radius: 8px;
    border: none;
    padding: 7px;
    padding-top: 5px;
    color: black;
    font-size: 17px;
    margin: 19px 1px 9px 1px;
    background-color: ghostwhite;
}

progress {
    padding: 3px;
    margin-top: -3px;
}